<div class="container">
  <div class="row">
    <div class="col">
      <p class="h3 text-danger">Contact App</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam deserunt dolor est eveniet expedita id ipsa molestiae optio, perferendis possimus quod tenetur voluptatum. Autem esse mollitia odit quo voluptatem?</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <app-contact-list (sendContact)="selectedContact=$event"></app-contact-list>
    </div>
    <div class="col-md-3">
      <app-contact-card [selectedContact]="selectedContact"></app-contact-card>
    </div>
  </div>
</div>
